<head>
  <!-- meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>ㅇㅇ's Portfolio</title>
  <link href="/images/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=NkJ_mZ2clXoMXNA3yf5z"></script>

</head>